input[type="text"].wTextInput {
}
#s {
}
#primary {
}
.menu-block {
}
.dropdown-menu a { display: inline-block; }
.menu .sub-menu {  }

/* --- News page  --- */
 
#nc-right-col .widget {
}
#nc-right-col .widget_search.widget {
}
#nc-header {
}


/* --- Cascading Bug Fix  --- */

body h1 {
	margin: 10px 0 33px;
	font-size: 35px;
	font-weight: 600; 
}
body h2 {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 10px;
}


/* --- Youtube shortcode player  --- */
 
#youtube-playlist-player {
	border: 2px solid #eeeeee;
}


/*** sidebar ***/

#banner-image {
    display:none;
}

/* main menu */
.nav-collapse .dropdown-menu.open {
    background: rgb(98, 138, 197);
}
