#branding {
    background-image: none;
    background-color: #fff;
}
#header  {
    background: url("http://www.washington.edu/static/mobile/image/top_bg_z.jpg") repeat-x scroll center top white;
    position: relative;
}
.patch { display: none }
.wordmark {
    background: url("img/mobile-header/logo1x.png") no-repeat 0 0 transparent;
    width: 263px;
    height: 40px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
}
.wordmark {
    background: url("img/mobile-header/logo1x.png") no-repeat 0 0 transparent;
    width: 263px;
    height: 44px;
}
#listicon-wrapper, #searchicon-wrapper {
    background: url("img/mobile-header/dropdowns1x.png") no-repeat -29px 0px transparent;
    position: absolute;
    top: 4px;
    right: 10px;
    width: 35px;
    height: 30px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
}
#searchicon-wrapper {
    right: 50px;
    height: 30px;
    background: url("img/mobile-header/dropdowns1x.png") no-repeat 7px 0px transparent;
}
.main-search, #thin-strip {
     visibility: hidden;
}


#header {
    position: relative;
    width: 100%;
}
#thin-strip {
    height: 0;
    overflow: hidden;
    z-index: 9999;
    transition: height .5s;
    -moz-transition: height .5s; /* Firefox 4 */
    -webkit-transition: height .52s; /* Safari and Chrome */
    -O-transition: height .5s; /* Opera */
    width: 100%;
    visibility: hidden;
}
#thin-strip span {
    background:url("img/misc/arrow2.png") no-repeat scroll right -69px transparent;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    height: 32px;
    padding: 8px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 61px;
}
#background {
  width: 100%;
  background-color:#000;
  opacity: .5;
  position: absolute;
  display:none;
}
#background.open {
  display:block;
}
#thin-strip .menuShow {
    display: block;
}
#thin-strip ul {
    background: url("img/mobile-header/gridLines.png") center center no-repeat #fff;
    height: 325px;
    z-index: 9999;
    box-shadow: inset 0 0 20px #d3d3d3;
    -webkit-box-shadow: inset 0 0 20px #d3d3d3;
    margin: 5px;
    padding: 0;
    border: 1px solid #E1E1E1
}
#thin-strip li {
    float: left;
    list-style: none outside none;
    margin: 20px 0 0;
    text-align: center;
    width: 33%;
}
#thin-strip a {
    clear: both;
    display: block;
}

#thin-strip li a {
    color: #39275B;
    margin: 0;
}
#thin-strip li a:last-child {
    margin: 5px 0 0 0;
}
#weather {
    bottom: 3px;
    color: white;
    font-size: 11px;
    height: 45px;
    left: 10px;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 48px;
    text-align: center;
    font-weight: bold;
}
#weather a {
    color: #fff;
    line-height: 11px;
    font-weight: bold;
    font-size: 11px;
}
#search {
    box-shadow: inset 0px -2px 4px #DDD;
    -webkit-box-shadow: inset 0px -2px 4px #DDD;
    background-color: white;
    height:0px;
}
.search-options {
display:none;
}
.main-search {
    overflow: hidden;
    margin: 0 auto ;
    width: 95%;
    position: relative;
    transition: height .5s;
    -moz-transition: height .5s; /* Firefox 4 */
    -webkit-transition: height .52s; /* Safari and Chrome */
    -o-transition: height .5s; /* Opera */
    -webkit-transform:translate3d(0,0,0);
}
.main-search.activate, #thin-strip.activate {
    height: 45px;
    transition: height .5s;
    -moz-transition: height .5s; /* Firefox 4 */
    -webkit-transition: height .52s; /* Safari and Chrome */
    -o-transition: height .5s; /* Opera */
    /*visibility: visible;*/
}
#thin-strip.activate {
    height: 340px;
    display: block;
}
.wfield {
    -webkit-box-shadow: inset 2px 2px 4px #888;
    box-shadow: inset 2px 2px 4px #888;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 30px;
    border: none;
    background: url("http://www.washington.edu/static/mobile/image/mag.gif") no-repeat right center #fff;
    margin-top: 5px;
    display: block;
}
.wfield input {
    -webkit-appearance: none;
    height: 25px;
    padding: 3px 0 5px 15px;
    border: none;
    width: 100%;
    background: none;
    font-size: 15px;
    color: #484848
}
#logo {
    text-align: center;
    height: 44px;
}
.nav-collapse .dropdown-menu {
    display: none;
}
#thin-strip li a {
    padding: 54px 0 0 0;
}
#thin-strip li a {
    background-image: url('img/mobile-header/sprite1x.png');
    background-repeat: no-repeat;
}
#thin-strip li:nth-child(1) a { background-position: center 0;      }
#thin-strip li:nth-child(2) a { background-position: center -173px; }
#thin-strip li:nth-child(3) a { background-position: center -267px; }
#thin-strip li:nth-child(4) a { background-position: center -364px; }
#thin-strip li:nth-child(5) a { background-position: center -446px; }
#thin-strip li:nth-child(6) a { background-position: center -690px; }
#thin-strip li:nth-child(7) a { background-position: center -530px; }
#thin-strip li:nth-child(9) a { background-position: center -83px;  }
#thin-strip li:nth-child(10) a { background-position: center -530px; }
#thin-strip li:nth-child(11) a { background: none; padding: 0; }
#thin-strip li:nth-child(12) a { background: none; padding: 0; margin: 0 }
#thin-strip li:nth-child(12) { background: none; margin: 0; }

.nav-collapse .dropdown-menu.open {
    height: auto;
    width: auto;
    display: block;
    box-shadow: inset 0 0 17px #999;
    padding: 10px 15px;
    margin: 0;
    background-color: #F4F4F4;
}
.formbutton {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        background: url(img/header/bg-stripe.gif) repeat-x 197px 0 #FFF;
    }

    /* ----  Thin Strip ---- */

    #thin-strip {
        visibility: visible;
        height: 30px;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        background-color: #39275B;
        z-index: 1;
        box-shadow: 0 0px 6px #333;
        -moz-box-shadow: 0 0px 6px #333;
        -webkit-box-shadow: 0 0px 6px #333;
        overflow: hidden
    }
    #thin-strip.thin-fixed {
        position: fixed;
        top: 0px;
    }
    .logged-in #thin-strip.thin-fixed {
        top:28px;
    }
    .thin-fixed div {
        background: url("img/mobile-header/logo1x.png") no-repeat -35px -5px;
    }
    /*.logged-in #thin-strip {
        top: 28px;
    } */
    #thin-strip div {
        height: 30px;
        width: 960px;
        margin: 0 auto;
    }
    #thin-strip ul {
        float: right;
        background: none;
        height: 53px;
        box-shadow: none;
        -webkit-box-shadow: none;
        margin: 0px 0px 0px 5px;
        padding: 0;
        border: none;
    }
    #thin-strip li {
        margin-top: 0px;
        width: auto;
        float: none;
        list-style: none;
        margin: none;
        text-align: left;
        float: left;
        padding: 5px 10px 0 0;
    }
    #thin-strip a {
        width:auto;
        display: inline;
    }
    #weather {
        bottom: 3px;
        color: white;
        font-size: 11px;
        height: 45px;
        left: 10px;
        padding: 0;
        position: absolute;
        text-transform: uppercase;
        width: 48px;
        text-align: center;
        font-weight: bold;
    }
    #thin-strip li a {
        background-image: none;
        color: #fff;
        font-size: 79%;
        text-transform: uppercase;
        font-weight: bold;
    }
    #thin-strip img {
        margin-top: -8px;
    }
    #listicon-wrapper, #searchicon-wrapper {
        display: none;
    }

    /* ----  Switch thin strip colors based on class ---- */

    .tan-band #thin-strip {
        background-color: #F3F2E9;
    }
    .tan-band #thin-strip a {
        color: #555;
        text-shadow: 1px 1px 1px #fff;
    }
    .tan-band .thin-fixed div {
        background: url(img/header/header-sprite.png) no-repeat 10px -225px transparent;
    }
    .purple-patch .patch {
        background-color: #39275B
    }
    .hide-patch .patch {
        display: none;
    }
    .hide-patch .wordmark {
        left: 0;
    }
    .wordmark-white .wordmark {
        background-position: 0 -197px;
    }

    /* ----  Header Logos Area ---- */

    #branding {
        position:relative;
        height: 150px;
        margin-bottom: 20px;
        background-position: center top;
        padding-top: 30px;
        z-index: 1;
    }
    #header {
    /* z-index: 2; */
        position: relative;
        max-width: 960px;
        left: 50%;
        margin-left: -480px;
        height: 100px;
        background-image:none;
    /* added with super-search */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .wordmark, .patch {
        top: -30px;
        display: block;
        position: absolute;
        background: url(img/header/header-sprite.png) no-repeat 5px 15px #D7A900;
        width: 95px;
        height: 90px;
        text-indent: -999px;
        z-index:2;
    }
    .wordmark {
        background: url(img/header/header-sprite.png) no-repeat 0 -87px transparent;
        width: 325px;
        height: 25px;
        left: 125px;
        top: 25px;
    }



    /* ----  Top Search ---- */

    #search {
        position: absolute;
        top: 20px;
        right: 45px;
        visibility: hidden;
    }
    input[type="submit"].formbutton {
        position: absolute;
        left: 9px;
        top: 4px;
        background: url(img/header/header-sprite.png) no-repeat -103px 2px transparent;
        box-shadow: none;
        border: none;
        display: block;
        text-indent: -999px;
        overflow: hidden;
        padding: 5px 16px;
        height: 28px;
        width: 32px;
    }
    input[type="text"].wTextInput {
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        padding: 9px 0 9px 38px;
        width: 175px;
        color: #999;
        box-shadow: 0 0 8px #8F8F8F;
        -webkit-box-shadow: 0 0 8px #8F8F8F;
        -moz-box-shadow: 0 0 8px #8F8F8F;
        border: none;
        -webkit-transition-duration: 400ms;
        -webkit-transition-property: width, background;
        -webkit-transition-timing-function: ease;
        -moz-transition-duration: 400ms;
        -moz-transition-property: width, background;
        -moz-transition-timing-function: ease;
        -o-transition-duration: 400ms;
        -o-transition-property: width, background;
        -o-transition-timing-function: ease;
    }
    .wTextInput:focus, input[type="text"].wTextInput:focus {
        width: 225px;
    }
    .main-search {
        visibility: visible;
    }

  /* ---- Super Search ---- */

    #search .search-toggle {
      display:none;
      position: absolute;
      top: 6px;
      right: 7px;
      width:25px;
      height:25px;
      background: url('img/misc/super-search-handle.png') no-repeat center center #e4e4e4;
      border-radius:25px;
      -o-border-radius:25px;
      -moz-border-radius:25px;
      -webkit-border-radius:25px;
      box-shadow: inset 1px 1px 1px #BEBEBE;
      -o-box-shadow: inset 1px 1px 1px #BEBEBE;
      -moz-box-shadow: inset 1px 1px 1px #BEBEBE;
      -webkit-box-shadow: inset 1px 1px 1px #BEBEBE;
    }
    #ie7 #search .search-toggle, #ie8 #search .search-toggle {
      background: url('img/misc/ie7-ie8-super-search-handle.png') no-repeat center center #e4e4e4;
    }
    #ie7 #search .search-toggle.close-toggle, #ie8 #search .search-toggle.close-toggle {
      background: url('img/misc/ie7-ie8-super-search-handle-close.png') no-repeat center center #e4e4e4;
    }
    #search .search-toggle.close-toggle {
      background: url('img/misc/super-search-handle-close.png') no-repeat center center #e4e4e4;
    }
    #search .search-toggle:hover {
      cursor:pointer;
      box-shadow: inset 1px 1px 2px #aaaaaa;
      -o-box-shadow: inset 1px 1px 2px #aaaaaa;
      -moz-box-shadow: inset 1px 1px 2px #aaaaaa;
      -webkit-box-shadow: inset 1px 1px 2px #aaaaaa;
    }
    #search .search-options {
      display:none;
      position: absolute;
      top: 36px;
      right: -14px;
      width: 90px;
      z-index: 999;
      background-color: white;
      box-shadow: 0 0 8px #B5B5B5;
      -moz-box-shadow: 0 0 8px #b5b5b5;
      -webkit-box-shadow: 0 0 8px #B5B5B5;
      padding: 10px 15px 5px 30px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
    }
    #search .search-options-notch {
        background: url('img/misc/super-search-notch.png') no-repeat -3px -5px transparent;
        color: #F4F4F4;
        display: block;
        width: 25px;
        height: 12px;
        position: absolute;
        font-size: 17px;
        top: -10px;
        right: 20px;
    }
    #search .search-options label {
      padding:5px;
    }
    .search-options label {
      border-bottom: 1px solid #F1F1F1;
    }
    .search-options label:nth-last-child(2) {
        border-bottom: none;
    }
    #search .search-flash {
      display:none;
      position: absolute;
      top: 60px;
      right: 30px;
      z-index: 999;
      background-color: white;
      box-shadow: 0 0 8px #B5B5B5;
      -moz-box-shadow: 0 0 8px #b5b5b5;
      -webkit-box-shadow: 0 0 8px #B5B5B5;
      padding: 8px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
    }


    .header-image {
        margin-top: -200px;
        display: block;
        height: 145px;
        overflow: hidden;
        text-align: center;
        background-color: #d6e8fa;
    }
}
