@import url('header_footer.css');
/*
Theme Name: UW Theme Child
Description: Child theme for the UW-Wordpress Theme
Author: Rick Ells
Template: UW-Wordpress-Theme
*/

/**** GLOBAL ******************************************/
/******************************************************/

.it_container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

/*** Color ********/

/*** Typography ***********/







/*** Helpers ********/
.assistive-text, .visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/**** SMALL SCREENS **********************************/
/*****************************************************/

body { background: #f5f7f6; }

/*** Header ***/

#header {
    background: rgba(32,32,32,1);
}

/*** Navigation Menu ********/


.navbar { padding: 0; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; text-transform: uppercase; background: #4b81bf; }
.navbar .nav { margin: 0; }
.navbar .nav li {  }
.navbar .nav li a { padding: 5px 10px; color: #fff; font-weight: normal; font-size: .85em; }

.btn-navbar { background: #4b81bf; margin-top: 0; }

.navbar h3 { margin: 0; font-weight: normal; font-size: 16px; padding-left: 15px; line-height: 50px; }
.navbar h3 a { color: #fff; }

.nav-collapse { display: none; background: #82b4de; }
.nav-collapse li { border-bottom: solid 1px #fff; }
.nav-collapse li:last-child { border-bottom: none; }


/*** breadcrumbs ***/
ul.breadcrumbs-list {
    list-style-type: none;
    margin-top: 20px;
}

ul.breadcrumbs-list li {
    text-transform: uppercase;
    display: inline;
    color: grey;
    font-size: 12px;
}

ul.breadcrumbs-list li a {
    color: grey;
}

ul.breadcrumbs-list li:after {
    content: " / ";
}

ul.breadcrumbs-list li.current:after {
    content: "";
}

/*** Sidebar Off-Canvas *********/
.sidebar-offcanvas {
    background: #ddd;
    /*-webkit-box-shadow: inset -6px 0 8px -4px rgba(50, 50, 50, .55);
    box-shadow: inset -6px 0 8px -4px rgba(50, 50, 50, .55);            not in mockup*/
}

#sidebar { /*height: 200px; overflow-y: auto;*/
}


/*** Regular Sidebar ***/
#secondary {
    height: 100%;
    background-color: #e6e7e9;
}

#secondary ul {
    list-style-type: none;
}

#secondary h2 {
    font-size: 12px;
    text-transform: uppercase;
    color: grey;
    font-weight: normal;
    margin-left: 25px;
    margin-bottom: 0px;
    line-height: 30px;
}

/*** Homepage Sidebar ***/
#sidebar.home_sidebar {
    background-color: #e6e7e9;
}

#sidebar.home_sidebar ul {
    list-style-type: none;
    margin: 0px;
    padding-right: 30%;
    padding-left: 3%;
}

#sidebar.home_sidebar li {
    background-color: #4B81BF;
    opacity: .9;
    padding-left: 1em;
    padding-top: .4em;
    padding-bottom: .4em;
    margin-bottom: .25em;
}

#sidebar.home_sidebar li a {
    color: white;
    font-size: 16px;
}

#sidebar.home_sidebar h2.widgettitle {
    height: 1.4em;
    margin: 0px;
    padding-left: 3%;
}

#sidebar.home_sidebar h2 a {
    padding-left: 1.2em;
    text-transform: uppercase;
    color: grey;
    font-size: 12px;
}

#content { overflow-x: hidden; background: white; }

/*** Content ***/
.row { margin: 0; }

/*** Homepage ***/
#home_main { background: red url('./img/itconnect-banner1.png') no-repeat 0 50%; padding: 0; background-size: 100%; position: relative; }

#home_main article { padding: 10px; height: 75px; }
#home_main article .entry-header { margin: 0; }
#home_main article .entry-header h1 { margin: 0; color: #fff; font-size: 22px; position: absolute; bottom: 0; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9); }
#home_main article .entry-content {  }

#home_main .date {  }
#home_main .nocomments {  }


#home_secondary { }

#home_tertiary {
    padding: 10px 0px 0px 10px;
}

#home_tertiary h2 {
    font-weight: bold;
    font-size: 22px;
    margin-left: 3%;
}

#home_tertiary div.media{
    padding-left: 3%;
}

#home_tertiary div.media .pull-left {
    max-width: 25%;
}

#home_tertiary div.media-body {
    float: right;
    width: 70%;
}

#home_tertiary div.media-body h3 {
    font-size: 16px;
    font-weight: bold;
    color: #4B81BF;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*** Footer ***/
#footer, #footer-main { background: #404042; }
#footer h2, #footer ul { margin: 0; }

/**** LARGE SCREENS **********************************/
/*****************************************************/


@media screen and (min-width: 768px) {

    body {  }

    /*** Branding ****/

    #branding { background: #404042 ; margin-bottom: 0; height: auto; }
    #banner-image {
        background: #404042 url('./img/itconnect-banner2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -1;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
    }

    #header { 
        background: none !important;
    }

    /*** UW Header overrides ***/

    #thin-strip {
        background: rgba(32, 32, 32, .8);
    }

    #thin-strip li a {
        font-weight: normal;
    }

    .patch.hidden-phone {
        margin-left: 40px;
    }

    .wordmark {
        padding-left: 40px;
        background: none;
        text-indent: 0px;
        color: white;
        font-size: 36px;
        height: auto;
        line-height: 36px;
        text-transform: uppercase;
    }

    .wordmark:hover {
        color: white;
        text-decoration: none;
    }

    .wfield {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
        opacity: .8;
    }

    input[type="text"].wTextInput {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    input[type="submit"].formbutton {
        left: 6px;
    }

    /*** Navigation Menu ********/

    nav, .navbar {  background: rgba(75, 129, 191, 0.30); }
    .navbar .nav { float: right; }
    .nav-collapse { display: block; }
    .nav-collapse li { border-bottom: none; border-right: none; margin-right: 1px; background: rgba(75, 129, 191, 0.7); }
    .nav-collapse li:last-child { margin-right: 0; }
    .navbar .active a { 
        color: white !important;
        background: #2F5783 !important; 
    }

    .dropdown-toggle {
        font-size: 12px;
    }

    /*** Sidebar Off-Canvas *********/
    .sidebar-offcanvas {
        background: none;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
    }

    #sidebar { height: auto; overflow-y: auto; }
    
    #secondary {
        width: 25%;
    }

    #content { overflow-x: auto; }

    /*** Homepage ***/

    #home_main { float: right; background: url('./img/itconnect-home-hero1.png') no-repeat 0 0; min-height: 500px; max-height: 600px; overflow: hidden; }
    #home_main article { padding: 30px; }
    /*#home_main article .entry-header h1, #home_main article .entry-content h2 { background: #fff; color: #4a81bc; padding: 5px; display: inline; line-height: 50px; }*/
    #home_main article .entry-header h1, #home_main article .entry-content h2 { padding:5px 0; color:#4a81bc; display: inline; background-color:#fff; box-shadow: 10px 0 0 0 #fff, -10px 0 0 0 #fff; left:10px; position: relative; line-height: 50px; }


    #home_main article .entry-content { width: 75%; }

    #home_spotlight { background-color: rgba(255,255,255,0.85); width: 300px; position: absolute; bottom: 30px; right: 0; padding: 30px; }

    #home_secondary {
        float: left;
        padding: 0px;
    }
    #home_tertiary { float: right; }

    #home_tertiary div.media .pull-left {
        max-width: 17%;
        max-height: 100px;
        overflow: hidden;
    }

    #home_tertiary div.media-body {
        width: 80%;
    }

    /*** Sidebar desktop ***/
    #sidebar.home_sidebar ul {
        padding-right: 0px;
        padding-left: 0px;
    }

    #sidebar.home_sidebar h2.widgettitle {
        padding-left: 0px;
    }

}

@media screen and (min-width: 1200px) {
    .it_container {
        max-width: 1170px;
    }
    .navbar .nav li a { 
        padding: 8px 15px;
    }
}
