@import url('header_footer.css');
/*
Theme Name: UW Theme Child
Description: Child theme for the UW-Wordpress Theme
Author: Rick Ells
Template: UW-Wordpress-Theme
*/

/**** GLOBAL ******************************************/
/******************************************************/


/*** Color ********/

/*** Typography ***********/







/*** Helpers ********/
.assistive-text, .visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/**** SMALL SCREENS **********************************/
/*****************************************************/

body { background: #f5f7f6; }


/*** Navigation Menu ********/


.navbar { padding: 0; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; text-transform: uppercase; background: #4b81bf; }
.navbar .nav { margin: 0; }
.navbar .nav li {  }
.navbar .nav li a { padding: 8px 15px; color: #fff; font-weight: normal; }

.btn-navbar { background: #4b81bf; margin-top: 3px; }

.navbar h3 { margin: 0; font-weight: normal; font-size: 16px; padding-left: 15px; }
.navbar h3 a { color: #fff; }

.nav-collapse { display: none; background: #82b4de; }
.nav-collapse li { border-bottom: solid 1px #fff; }
.nav-collapse li:last-child { border-bottom: none; }


/*** Sidebar Off-Canvas *********/
.sidebar-offcanvas {
    background: #ddd;
    -webkit-box-shadow: inset -6px 0 8px -4px rgba(50, 50, 50, .55);
    box-shadow: inset -6px 0 8px -4px rgba(50, 50, 50, .55);
}

#sidebar { /*height: 200px; overflow-y: auto;*/ }

#content { overflow-x: hidden; background: #e6e7e9; }

/*** Content ***/
.row { margin: 0; }

/*** Homepage ***/
#home_main { background: url('./img/itconnect-front.png') no-repeat 0 50%; padding: 0; background-size: 100%; position: relative; }

#home_main article { padding: 10px; }
#home_main article .entry-header { margin: 0; }
#home_main article .entry-header h1 { margin: 0; color: #fff; }
#home_main article .entry-content {  }

#home_main .date {  }
#home_main .nocomments {  }



#home_secondary { }

#home_tertiary { }


/*** Footer ***/
#footer, #footer-main { background: #404042; }
#footer h2, #footer ul { margin: 0; }

#footer-left { background: #353537; }

/**** LARGE SCREENS **********************************/
/*****************************************************/


@media screen and (min-width: 768px) {

    body {  }

    /*** Branding ****/

    #branding { background: #404042 ; margin-bottom: 0; height: auto; }
    #banner-image {
        background: blue url('./img/itconnect-front.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        z-index: -1;
    }
    #header { background: none !important; }

    /*** Navigation Menu ********/

    nav, .navbar {  background: rgba(75, 129, 191, 0.25); }
    .nav-collapse { display: block; }
    .nav-collapse li { border-bottom: none; border-right: solid 1px #eee; }

    .navbar .active a { background: #3f6289 !important; }

    /*** Sidebar Off-Canvas *********/
    .sidebar-offcanvas {
        background: none;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
    }

    #sidebar { height: auto; overflow-y: auto; }

    #content { overflow-x: auto; }

    /*** Homepage ***/

    #home_main { float: right; background: url('./img/itconnect-front.png') no-repeat 0 0; min-height: 500px; max-height: 600px; overflow: hidden; }
    #home_main article { padding: 30px; }
    #home_main article .entry-header h1, #home_main article .entry-content h2 { background: #fff; color: #4a81bc; padding: 5px; display: inline; line-height: 50px; }
    #home_main article .entry-content { width: 75%; }

    #home_spotlight { background-color: rgba(255,255,255,0.85); width: 300px; position: absolute; bottom: 30px; right: 0; padding: 30px; }

    #home_secondary { float: left; }
    #home_tertiary { float: right; }

}

